.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-medium);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-large);
  }
}
