.payment {
  background-color: var(--brand);
  background-image: url(../../images/background3.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto;
  background-attachment: fixed;
  min-height: 100svh;
}

.payment__main {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--spacing-large);
  padding-block: var(--spacing-large);
  align-items: center;
}

.payment__back-button {
  position: fixed;
  bottom: 0;
  margin: var(--spacing-large);
}
